{% extends 'accounts/base.html' %}
{% block title%}<title>log in</title>{% endblock %}

{% block content %}




    <div class="container">
  
      <form method="post" action="">
          {% csrf_token %}
          <h2 class="h3 mb-3 fw-normal">Log In</h2> 
      
          <div class="form-floating mt-2">
              <input type="text" name="username" class="form-control" placeholder="Enter your name..." />
              <label for="floatingInput">user name</label>
            </div>
  
  
          <div class="form-floating mt-2">
              <input type="password" name="password" class="form-control" placeholder="password" />
              <label for="floatingInput">password</label>
          </div>
  
      
          <button class="w-100 btn btn-lg btn btn-primary mt-2 " type="submit">Log In</button>
        </form>
        {% if msg %}
          <div style="color: red; font-size: x-large;" class="text-center">{{msg}}</div>
        {% endif %}
        <h5>You don't have an account ? you can <a href="{% url 'accounts:signup_page' %}">register</a></h5>

   </div>


   
{% endblock %} 



