<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        {% if msg %}
          {{msg}}
        {% endif %}
        <div class="container">
            <h1></h1>
        
            <form method="post" action="">
                {% csrf_token %}
                <h2 class="h3 mb-3 fw-normal">log in</h2>
            
                <div class="form-floating mt-2">
                    <input type="text" name="username" class="form-control" placeholder="Enter your name..." />
                    <label for="floatingInput">user name</label>
                  </div>
        
        
                <div class="form-floating mt-2">
                    <input type="password" name="password" class="form-control" placeholder="password" />
                    <label for="floatingInput">password</label>
                </div>
        
            
                <button class="w-100 btn btn-lg btn-primary mt-2" type="submit">log in</button>
              </form>
        
        </div>
        <h5>You don't have an account ? you can <a href="{% url 'accounts:signup_page' %}">register</a></h5>
    </body>
</html>


